* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 100%;
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    transition: all .2s linear;
}

.grid>div {
    background: rgb(73, 72, 72);
    border: solid gray;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.flex {
    display: flex;
    flex-direction: row;
}